<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<h2>Cart</h2>
</div>


		<%= @items.inspect %>


<div class="container">
	<p>
		<% @items.each do |item| %>
		<% item = Product.find(item[0]) %>
		<%= item %>
		<%end%>
	</p>
</div>