<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<h2>Order</h2>
</div>

<div class="container">
	<p> </p>
</div>

<script type="text/javascript">

$(function() {
	update_orders_input();
	update_orders_button();
});	

</script>