<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<h2>Thank You! Your order have been placed!</h2>
</div>

<script type="text/javascript">

$(function() {
	window.localStorage.clear();
	
});	

</script>